form > .g-col {
  margin-bottom: $gutter * 1.5;

  &.is-hidden {
    display: none;
  }
}
form > .is-required label:after {
  content: '*';
  color: $brand-color;
}

label {
  color: $dark-2;
  transition: color $duration-xs;
  padding-bottom: $gutter/2;
  display: block;
}

// fields and textareas
input,
textarea {
  padding: 0.25em 0.5em 0.5em 0.5em;
  background-color: $white;
  border: 1px solid $light-3;
  transition: 
    border-color $duration-xs,
    background-color $duration-xs;

  &:hover {
    border-color: $tangerine;
    background-color: $white;
  }
  &:focus {
    @include box-shadow-lg($light-1);
    border-color: $flame;
    background-color: $white;
    outline: none;
  }
}

// interactions
form > .g-col:hover label {
  color: $tangerine;
  &:after { color: currentColor; }
}
form > .g-col:focus-within label {
  color: $flame;
  &:after { color: currentColor; }
}


// textarea
textarea {
  min-height: 8rem;
  max-height: 18rem;
}

input[type="checkbox"] {
  display: inline-block;
  width: auto;

  & + label {
    display: inline-block;
  }
}


// real button
form button {
  width: 100%;
}

[class='messagebox'] {
  display: none;
}

.messagebox:not([hidden]) {
  padding: $gutter * 3;
  width: 100%;
  margin-top: $gutter * 2;
  margin-bottom: $gutter * 2;
  border: 2px solid $brand-color;
  background-color: $brand-color;
  pointer-events: none;
  animation: fadeIn $duration-sm;

  @media (min-width: $bp-sm) {
    text-align: center;
  }

  * {
    color: $white !important;
  }

  * + * {
    margin-top: $gutter;
  }
}