label {
  color: $gray;
}

// fields and textareas
input,
textarea {
  padding: 0.25em 0.5em 0.5em 0.5em;
  background-color: $light-1;
  border: $border-width solid $brand-color;
  border-radius: $radius-sm;

  &:hover {
    border-color: $brand-light;
    background-color: $white;
  }
  &:focus {
    @include box-shadow-lg;
    border-color: $tangerine;
    background-color: $white;
    outline: none;
  }

  @include dark-mode {
    background-color: $dark-3;
    border-color: $black;

    &:hover {
      border-color: $brand-light;
      background-color: $dark-3;
    }
    &:focus {
      @include box-shadow-lg;
      border-color: $brand-color;
      background-color: $black;
    }
  }
}

.field:hover label,
.field:focus-within label {
  color: $brand-light;
}

// textarea
textarea {
  min-height: 8rem;
  max-height: 18rem;
}
