// default
html {
	@include body-font;
	line-height: 1.5;
	letter-spacing: 0.0375em;
}

// semibold
a {
	@include body-semibold-font;
}

// bold
strong, b, dt {
	@include body-bold-font;
}

// italic
em, i {
	@include body-italic-font;

	& > a {
		font-style: inherit;
	}
}

// heading
.heading,
h1, h2, h3, h4, h5, h6,
nav a {
	@include display-font;
	letter-spacing: normal;
	text-transform: uppercase;
	letter-spacing: 0.0275em;
	line-height: 1.25;
}

// subhead
button, input[type='button'], label,
.subhead {
	@include subhead-font;
	text-transform: uppercase;
	letter-spacing: 0.0375em;
}

.subhead {
	line-height: 1.375;
}

// type size defaults
h1 {
	font-size: $font-xxl;

	@media (min-width: $bp-md) {
		font-size: $font-xxxl;
	}
}
h2                   { font-size : $font-xl; }
h3, p, li            { font-size : $font-md; }
h4, figcaption       { font-size : $font-sm; }
h5, h6, small, label { font-size : $font-xs; }

br {
	@media (max-width: $bp-sm) {
		display: none;
	}
}
