// default
html {
	@include body-font;
	line-height: 1.5;
	letter-spacing: 0.025em;
}

// semibold
a {
	@include body-semibold-font;
}

// bold
strong, b, dt {
	@include body-bold-font;
}

// italic
em, i {
	@include body-italic-font;

	& > a {
		font-style: inherit;
	}
}

// heading
.heading,
h1, h2, h3, h4, h5, h6,
nav a,
label {
	@include display-font;
	letter-spacing: normal;
	text-transform: uppercase;
	letter-spacing: 0.0275em;
	line-height: 1.25;
}

// subhead
button, input[type='button'],
.subhead {
	@include subhead-font;
	text-transform: uppercase;
	letter-spacing: 0.0375em;
}

.subhead {
	line-height: 1.375;
}

// type size defaults
h1 {
	font-size: calc(#{$font-xl} + 2vw);

	@media (min-width: $bp-xs) {
		font-size: $font-xxl;
	}
}
h2                    { font-size : $font-xl; }
h3, p, li             { font-size : $font-md; }
h4, figcaption, label { font-size : $font-sm; }
h5, h6, small         { font-size : $font-xs; }

br {
	@media (max-width: $bp-sm) {
		display: none;
	}
}

// margins
p + p {
	margin-top: 0.875em;
}

.content * + p {
	margin-top: 1.25em;
}

.content h2:not(:first-child) {
	margin-top: $gutter * 2;
}

.content h2 + h3 {
	margin-top: 0.625rem;
}

.content p + h3 {
	margin-top: $gutter * 0.5;
}

.content br {
	margin: 0;
}