// pop in
@keyframes popIn {
	from {
		opacity: 0;
		transform: scale(0);
	}
}

@keyframes fadeIn {
	from {
		transform: translateY(-100%);
		opacity: 0;
	}
}

@keyframes unsquishIn {
	from {
		transform: scaleX(0);
		opacity: 0;
	}
}