.bgimg-block {
	min-height: 24rem;
	height: 50vh;
	overflow: hidden;

	&:before {
		display: none !important;
	}
}

.bgimg-img {
	@include absolute-expand;
	position: fixed;
	object-fit: cover;
	object-position: center;
	z-index: -1;
}