.bgimg-block {
	min-height: 24rem;
	height: 50vh;
	overflow: hidden;

	&:before {
		display: none !important;
	}
}

.bgimg-img {
	@include absolute-expand;
	object-fit: cover;
	object-position: center;
	z-index: -1;
	position: fixed;

	@media (prefers-reduced-motion: reduce) {
		position: absolute;
	}
}