.logogrid-block {
	@include block-padding;
}

.logogrid-heading {
	width: 100%; /* needed for centering */
}

.logogrid-list {
	display: flex;
	flex-wrap: wrap;
}

.logogrid-item {
	display: flex;
	flex: 1 0 140px;
	padding: $gutter / 4;

	@media (min-width: $bp-xxs) { 
		flex-basis: 180px;
		padding: $gutter / 2;
	}	
	@media (min-width: $bp-sm) { 
		flex-basis: 220px; 
		padding: $gutter;
	}	
}

.logogrid-img {
	margin: auto;
	color: $dark-1;
	text-align: center;
	height: auto;
}


// layout overrides for nested block
.g-3 .logogrid-block {
	padding: 0;

	.logogrid-item {
		max-width: 100%;
	}

	@media (max-width: $bp-sm - 0.001) {
		margin-top: $gutter * 2;

		.logogrid-item {
			flex-basis: 100px;
		}
	}

	@media (min-width: $bp-sm) {
		margin-top: -$gutter/2;
	}
}