nav,
nav ul {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

nav ul {
	margin-left: -$gutter * 0.75;
	margin-right: -$gutter * 0.75;
}

nav a {
	display: inline-block;
	padding: $gutter ($gutter * 0.75);
}

.header-nav-logo {
	margin-left: -$gutter * 0.75;
	margin-right: auto;
	padding-right: $gutter * 2;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none !important;
}

.header-nav-logo-text {
	color: $white;
	padding-left: 10px;
	font-size: 24px;
	white-space: nowrap;

	.header-nav-llc {
		font-size: 18px;
	}
}

@media (max-width: $bp-xs - 0.001) {
	.header-nav-inner {
		display: block;
		text-align: center;
	}
	.header-nav-logo {
		padding-right: 0;
		margin-top: -$gutter;
	}
	.header-nav-list {
		max-width: 100%;
		width: max-content;
		margin: 0 auto;
	}
	.header-nav-link {
		padding: 0.5em 0.75em;
	}
}

@media (min-width: $bp-xs) {
	.header-nav-inner.g-container {
		padding-top: 0;
		padding-bottom: 0;
	}
	.header-nav-list {
		transform: translateY(4px); // fudge baseline
	}
}

.header-nav:not(.dark-theme) {
	background-color: $white;

	nav a {
		color: $dark-1;
	}

	.header-nav-logo-text {
		color: $black;
	}
}

.header-nav {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;

	&.is-transparent {
		background: transparent;

		.header-nav-logo-text {
			color: $white;
		}
	}

	@media (min-width: $bp-sm) and (min-height: $bp-xs) {
		html:not(.no-js) {
			position: fixed;
			transition: background-color $duration-sm;
		}
	}
}