.clients-intro {
	margin: $gutter*3 0;
}

.clients .tag-list {
	width: calc(100% + 1rem);
	padding-top: $gutter;
	padding-bottom: $gutter;
	margin-left: -0.5rem;
	margin-right: -0.5rem;
	background-color: $white;

	@media (min-width: $bp-sm) {
		position: sticky;
		top: 0;
		z-index: 2;

		html.is-big-enough & {
			top: 83px;
		}
	}

	@media (min-width: $bp-md) {
		justify-content: space-between;
	}
}