.legal {
	counter-reset: heading-counter;

	h2:before {
		content: counter(heading-counter)'.';
		counter-increment: heading-counter;
		color: $dark-2;
		position: absolute;
		left: -1.125em;
		font-size: 0.625em;
		bottom: 0.175em;
	}
}

.legal h3 {
	margin-top: 1em !important;

	& + p {
		margin-top: 0.5em;
	}
}

.legal p,
.legal li {
	font-size: $font-sm;
	margin-bottom: 1em;
	width: 60em;
	max-width: 100%;
}

.legal ul {
	margin-top: 1em;

	li::before {
		color: $brand-color;
	}
}