.legal h3 {
	margin-top: 1em !important;

	& + p {
		margin-top: 0.5em;
	}
}

.legal p,
.legal li {
	font-size: $font-sm;
	margin-bottom: 1em;
	width: 60em;
	max-width: 100%;
}

.legal ul {
	margin-top: 1em;

	li::before {
		color: $brand-color;
	}
}

