.service-item {
	@include box-shadow-lg($shadow-light);
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: $gutter * 2;
	background-color: $white;
	margin-top: $gutter * 1.5;

	// offset by 1 due to fake heading in ul
	&:nth-child(2) { border-color: $safety; }
	&:nth-child(3) { border-color: $honey; }
	&:nth-child(4) { border-color: $tangerine; }
	&:nth-child(5) { border-color: $flame; }
	&:nth-child(6) { border-color: $cinnabar; }
}

// "make the boxes for the bottom two the same width as the top three, and center align them"
@media (min-width: $bp-sm) {
	.service-item:nth-of-type(5) {
		margin-left: auto;
		margin-right: $gutter * 1.5;
	}
	.service-item:nth-of-type(6) {
		margin-right: auto;
	}
}

// span
.service-icon {
	display: flex;
	width: 4rem;
	height: 4rem;
	background-color: $light-1;
	border-radius: 50%;

	svg {
		margin: auto;
	}
	path {
		fill: $dark-2;
	}
}

.service-title {
	color: $black;
}

.service-item .divider {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 3px;
}